.cadastro_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 217px);
    overflow: scroll;
}

.cadastro_board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-light-1);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 10px;
}

.cadastro_board fieldset{
    display: flex;
    flex-direction: column;
}

.cadastro_board label{
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 18px;
}

.cadastro_board input{
    border: none;
    border-radius: 5px;
    height: 25px;
    margin: 5px auto;
    width: 100%;
}

.cadastro_senhas{
    display: flex;
    justify-content: space-between;
}

.cadastro_senhas div{
    width: 300px;
}

.cadastro_senhas div:first-child{
    margin-right: 20px;
}

.cadastro_button{
    background: var(--bg-primary);
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    margin: 10px auto;
}

.cadastro_redirect{
    text-decoration: underline;
    margin: 0 auto;
}

@media(max-width: 550px){

    .cadastro_board{
        width: 300px;
        overflow: auto;
        padding: 20px;
        padding-top: 60px;
    }

    .cadastro_board div{
        display: flex;
        flex-direction: column;
    }

    .cadastro_senhas div{
        width: 100%;
    }
    
}