.footer__container{
    background: black;
    border-top: 3px solid var(--bg-secondary);
    color: white;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    padding: 0 30px;
    align-items: center;
    font-family: var(--font-terceira);
    font-weight: bold;
    font-size: 20px;
}


@media(max-width: 360px){
    .footer__container{
        flex-direction: column;
        height: 220px;
        padding: 10px;
    }
}