.header__container{
    background: var(--bg-primary);
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
}

.logo__container{
    display: flex;
    align-items: center;
}

.header__img{
    margin-left: 30px;
    max-width: 200px;
    max-height: 50px;
}

.header__login{
    background-color: var(--bg-terceira);
    border-radius: 10px;
    margin-right: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__login-mob{
    display: none;
}

.header__login-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__name{
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

@media(max-width: 360px){
    .header__img{
        width: 171px;
    }

    .header__container{
        justify-content: flex-end; 
    }

    .header__login{
        display: none;
    }

    .header__login-mob{
        display: inherit;
        color: white;
        font-size: 30px;
        margin: auto 30px;
    }

    .header__login-container{
        flex-direction: column-reverse;
    }
}

@media(max-width: 600px){
    /* .header__container{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
}